# 유동인구 데이터 전처리

>1. 분할되어 있는 데이터 합치기 (성연령유동데이터만 이용)
>2. HDONG_NM의 한글은 참고로 보는 것뿐 추후에 삭제 예정
>3. HDONG_CD의 동별코드는 통일성을 위해 마지막 00을 지움
>4. 남자, 여자 연령별로 합치기
>5. NaN 값이 존재 하지 않음

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob
import sys

In [2]:
# 월별로 되어있는 데이터 자료 합치기 -> 성연령유동 데이터
path='유동인구데이터/성연령유동'
allFiles=glob.glob(path+'/*.csv')
flow_data = pd.DataFrame()
list_=[]
for file_ in allFiles:
    df=pd.read_csv(file_, encoding='utf-8', sep='|')
    list_.append(df)

In [3]:
flow_data=pd.concat(list_)

In [4]:
flow_data.columns

Index(['STD_YM', 'STD_YMD', 'HDONG_CD', 'HDONG_NM', 'MAN_FLOW_POP_CNT_0004',
       'MAN_FLOW_POP_CNT_0509', 'MAN_FLOW_POP_CNT_1014',
       'MAN_FLOW_POP_CNT_1519', 'MAN_FLOW_POP_CNT_2024',
       'MAN_FLOW_POP_CNT_2529', 'MAN_FLOW_POP_CNT_3034',
       'MAN_FLOW_POP_CNT_3539', 'MAN_FLOW_POP_CNT_4044',
       'MAN_FLOW_POP_CNT_4549', 'MAN_FLOW_POP_CNT_5054',
       'MAN_FLOW_POP_CNT_5559', 'MAN_FLOW_POP_CNT_6064',
       'MAN_FLOW_POP_CNT_6569', 'MAN_FLOW_POP_CNT_70U',
       'WMAN_FLOW_POP_CNT_0004', 'WMAN_FLOW_POP_CNT_0509',
       'WMAN_FLOW_POP_CNT_1014', 'WMAN_FLOW_POP_CNT_1519',
       'WMAN_FLOW_POP_CNT_2024', 'WMAN_FLOW_POP_CNT_2529',
       'WMAN_FLOW_POP_CNT_3034', 'WMAN_FLOW_POP_CNT_3539',
       'WMAN_FLOW_POP_CNT_4044', 'WMAN_FLOW_POP_CNT_4549',
       'WMAN_FLOW_POP_CNT_5054', 'WMAN_FLOW_POP_CNT_5559',
       'WMAN_FLOW_POP_CNT_6064', 'WMAN_FLOW_POP_CNT_6569',
       'WMAN_FLOW_POP_CNT_70U'],
      dtype='object')

In [5]:
flow_data.head()

,STD_YM,STD_YMD,HDONG_CD,HDONG_NM,MAN_FLOW_POP_CNT_0004,MAN_FLOW_POP_CNT_0509,MAN_FLOW_POP_CNT_1014,MAN_FLOW_POP_CNT_1519,MAN_FLOW_POP_CNT_2024,MAN_FLOW_POP_CNT_2529,...,WMAN_FLOW_POP_CNT_2529,WMAN_FLOW_POP_CNT_3034,WMAN_FLOW_POP_CNT_3539,WMAN_FLOW_POP_CNT_4044,WMAN_FLOW_POP_CNT_4549,WMAN_FLOW_POP_CNT_5054,WMAN_FLOW_POP_CNT_5559,WMAN_FLOW_POP_CNT_6064,WMAN_FLOW_POP_CNT_6569,WMAN_FLOW_POP_CNT_70U
0,201804,20180401,1111051500,청운효자동,0.05,78.93,403.26,642.66,984.24,1792.30,...,1437.80,1356.08,1598.14,1495.53,1768.21,1611.47,1433.06,1212.56,549.45,811.56
1,201804,20180401,1111053000,사직동,1.25,262.54,1207.22,2177.88,4076.89,6887.72,...,6892.47,5743.10,5817.91,5429.89,6104.03,4998.93,4826.11,4207.45,2160.84,2972.08
2,201804,20180401,1111054000,삼청동,0.00,78.07,255.24,331.09,654.32,1264.86,...,1400.28,1183.11,1234.88,1157.69,1186.72,985.11,844.26,744.60,359.03,421.64
3,201804,20180401,1111055000,부암동,0.00,228.50,753.31,981.54,1615.77,2732.00,...,2153.73,2431.23,3028.24,2944.28,3532.23,3075.55,2785.22,2223.72,1118.48,1498.65
4,201804,20180401,1111056000,평창동,0.00,354.38,1500.63,1963.08,2593.07,4927.24,...,3775.91,4598.39,5661.53,5526.94,7075.02,6899.55,6886.22,5336.01,2629.75,3820.41

In [9]:
# 동 코드 수정하기
HDONG_CD=[int(str(aaaabbccdd)[:8]) for aaaabbccdd in flow_data['HDONG_CD']]
flow_data['HDONG_CD']=HDONG_CD

In [11]:
del flow_data['STD_YM']

In [12]:
#연령별 합치기 
cnt=['0004','0509','1014','1519','2024','2529','3034','3539','4044','4549','5054','5559','6064','6569','70U']
for i in cnt:
    flow_data['FLOW_CNT_'+i]=flow_data['MAN_FLOW_POP_CNT_'+i]+flow_data['WMAN_FLOW_POP_CNT_'+i]
    flow_data.drop(['MAN_FLOW_POP_CNT_'+i,'WMAN_FLOW_POP_CNT_'+i], axis=1, inplace=True)

In [14]:
flow_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13140 entries, 0 to 1115
Data columns (total 18 columns):
STD_YMD          13140 non-null int64
HDONG_CD         13140 non-null int64
HDONG_NM         13140 non-null object
FLOW_CNT_0004    13140 non-null float64
FLOW_CNT_0509    13140 non-null float64
FLOW_CNT_1014    13140 non-null float64
FLOW_CNT_1519    13140 non-null float64
FLOW_CNT_2024    13140 non-null float64
FLOW_CNT_2529    13140 non-null float64
FLOW_CNT_3034    13140 non-null float64
FLOW_CNT_3539    13140 non-null float64
FLOW_CNT_4044    13140 non-null float64
FLOW_CNT_4549    13140 non-null float64
FLOW_CNT_5054    13140 non-null float64
FLOW_CNT_5559    13140 non-null float64
FLOW_CNT_6064    13140 non-null float64
FLOW_CNT_6569    13140 non-null float64
FLOW_CNT_70U     13140 non-null float64
dtypes: float64(15), int64(2), object(1)
memory usage: 1.9+ MB

In [17]:
flow_data.to_csv('유동인구데이터처리/Pre_flow_pop.csv', encoding='utf-8', index=False)